<!-- BEGIN css_file -->
<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
<!-- END css_file -->
<!-- BEGIN css_inline -->
<style>
    {CSS_INLINE}
</style>
<!-- END css_inline -->

<!-- BEGIN view_append_inline_css -->
{APPEND_STYLES}
<!-- END view_append_inline_css -->

<div id="{UUID}" class="blockParent">
    <div highlight="{LANGUAGE}">{QUESTIONTEXT}</div>
    <div>
        {BLOCK_HTML}    
    </div>
</div>
<!-- BEGIN on_load_code -->
<script type="text/javascript">
    il.Util.addOnLoad(function() {
        <!-- BEGIN on_load_code_inner -->{OLCODE}
        <!-- END on_load_code_inner -->
    });
</script>
<!-- END on_load_code -->

<script type="text/javascript">
    if (window.mountInElement) { mountInElement(document.getElementById('{UUID}')); }
</script>